.container-top{
    margin-top: calc(50vh - 6rem);
}
.flex-container{
    display: flex;
    align-items: center;
}
.flex-container_column{
    flex-direction: column;
}
.flex-container-item{
    width: 15rem;
    line-height: 1.5rem;
    padding-top: 1.5rem;
}
.custom—input{
    border: 1px dashed #dddbda;
    height: 1.5rem;
    border-radius: .25rem;
}
.custom—input input{height: 100%;width: 100%;display: block;}

.custom—input .input-label{

}

.depends_button{
    width: 100%;
    line-height: 1.5rem;
    background: transparent;
    color: #0070d2;
    border: 1px solid #dddbda;
    border-radius: .25rem;
}